
@{
    ViewBag.Title = "leerDatos";
}

<h2>leerDatos</h2>
@foreach (var item in ViewBag.Archivos)
            {

                <li>
                    <ul>
                        @foreach (string item2 in item.Split(','))
                        {
                            <li>
                                @item2
                            </li>
                        }
                    </ul>
                </li>
            }
